
@{
    ViewData["Title"] = "Todos";
}

<h1>Список дел для пользователя</h1>
<ul>
    <li>Пожертвуйте нашему порталу на развитие.</li>
    <li>Покормите кота</li>
    <li>Если у вас его нет - заведите</li>
    <li>Начните сначала</li>
</ul>
